<aside class="position-fixed sidebarTotal">
  <div class="my-4" style="word-wrap: break-word">
    <div class="bg-body-tertiary p-4 rounded-4 mb-3">
      <div class="mb-3">
        <h3 class="fw-bold fs-5">What's happening</h3>
      </div>
      <div class="mb-3">
        <p class="m-0 fw-light">Programming - Trending</p>
        <p class="m-0 fs-6 fw-bold">#MongoVsSequelize</p>
        <p class="m-0">97.5K Tweets</p>
      </div>
      <div class="mb-3">
        <p class="m-0 fw-light">Entertainment · Trending</p>
        <p class="m-0 fs-6 fw-bold">#StarWars</p>
        <p class="m-0">97.5K Tweets</p>
      </div>
      <div>
        <p class="m-0 fw-light">News · Trending</p>
        <p class="m-0 fs-6 fw-bold">#LifeInMars</p>
        <p class="m-0">97.5K Tweets</p>
      </div>
    </div>
    <div class="bg-body-tertiary p-4 rounded-4">
      <div class="mb-3">
        <h3 class="fw-bold fs-5">Who to follow</h3>
      </div>
      <div class="d-flex">
        <div>
          <img
            src="https://twirpz.files.wordpress.com/2015/06/twitter-avi-gender-balanced-figure.png?w=640"
            alt="Profile picture default"
            style="width: 40px; height: 40px"
            class="rounded-circle m-0 mt-1"
          />
        </div>
        <div class="mb-3 flex-fill mx-2">
          <dl class="m-0 fs-6 fw-bold">Hack Academy</dl>
          <dd class="m-0">@HackAcademyDev</dd>
        </div>
        <div class="mb-3 d-flex align-items-center">
          <button
            type="submit"
            class="btn btn-login rounded-pill"
            style="background-color: var(--color-principal)"
          >
            Follow
          </button>
        </div>
      </div>
      <!-- -->
      <div class="d-flex">
        <div>
          <img
            src="https://twirpz.files.wordpress.com/2015/06/twitter-avi-gender-balanced-figure.png?w=640"
            alt="Profile picture default"
            style="width: 40px; height: 40px"
            class="rounded-circle m-0 mt-1"
          />
        </div>
        <div class="mb-3 flex-fill mx-2">
          <dl class="m-0 fs-6 fw-bold">Java Script</dl>
          <dd class="m-0">@JavaScript</dd>
        </div>
        <div class="mb-3 d-flex align-items-center">
          <button
            type="submit"
            class="btn btn-login rounded-pill"
            style="background-color: var(--color-principal)"
          >
            Follow
          </button>
        </div>
      </div>
      <!-- -->
      <div class="d-flex">
        <div>
          <img
            src="https://twirpz.files.wordpress.com/2015/06/twitter-avi-gender-balanced-figure.png?w=640"
            alt="Profile picture default"
            style="width: 40px; height: 40px"
            class="rounded-circle m-0 mt-1"
          />
        </div>
        <div class="mb-3 flex-fill mx-2">
          <dl class="m-0 fs-6 fw-bold">MongoDB</dl>
          <dd class="m-0">@MongoDB</dd>
        </div>
        <div class="mb-3 d-flex align-items-center">
          <button
            type="submit"
            class="btn btn-login rounded-pill"
            style="background-color: var(--color-principal)"
          >
            Follow
          </button>
        </div>
      </div>
      <!-- -->
      <div class="d-flex">
        <div>
          <img
            src="https://twirpz.files.wordpress.com/2015/06/twitter-avi-gender-balanced-figure.png?w=640"
            alt="Profile picture default"
            style="width: 40px; height: 40px"
            class="rounded-circle m-0 mt-1"
          />
        </div>
        <div class="mb-3 flex-fill mx-2">
          <dl class="m-0 fs-6 fw-bold">Node.js</dl>
          <dd class="m-0">@nodejs</dd>
        </div>
        <div class="mb-3 d-flex align-items-center">
          <button
            type="submit"
            class="btn btn-login rounded-pill"
            style="background-color: var(--color-principal)"
          >
            Follow
          </button>
        </div>
      </div>
      <!-- -->
      <div class="d-flex">
        <div>
          <img
            src="https://twirpz.files.wordpress.com/2015/06/twitter-avi-gender-balanced-figure.png?w=640"
            alt="Profile picture default"
            style="width: 40px; height: 40px"
            class="rounded-circle m-0 mt-1"
          />
        </div>
        <div class="mb-3 flex-fill mx-2">
          <dl class="m-0 fs-6 fw-bold">MDN Web Docs</dl>
          <dd class="m-0">@MozDevNet</dd>
        </div>
        <div class="mb-3 d-flex align-items-center">
          <button
            type="submit"
            class="btn btn-login rounded-pill"
            style="background-color: var(--color-principal)"
          >
            Follow
          </button>
        </div>
      </div>
    </div>
  </div>
</aside>
